# Application Settings
PROJECT_NAME="REMOCLIC v2 (Demo)"
# development, staging, production
ENVIRONMENT="production"
# Set to False in production
DEBUG=False
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL="INFO"

# CORS Origins (comma-separated list)
# In production, change this to your frontend domain or IP
# BACKEND_CORS_ORIGINS="http://localhost:4200,http://127.0.0.1:4200"
# BACKEND_CORS_ORIGINS="https://your-frontend.onrender.com"
# BACKEND_CORS_ORIGINS="*"
BACKEND_CORS_ORIGINS="https://remoclic-v2-fe.onrender.com"

# Data Source
DATA_BASE_URL="http://hpc.meteo.edu.vn/~tanpv/For_Me/562_VNU/PDF_Ope"
DATA_FILE_NAME="Dr_Prob.nc"
